html {
  text-align: center;
  font-family: Helvetica;
}

.flatiron {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.navigation {
  font-size: 18px;
  color: white;
  list-style-type: none;
}

.process {
  font-size: 32px;
  font-weight: bold;
}

.actions {
  font-size: 23px;
  font-weight: bold;
}

.details {
  font-size: 14px;
}

#newyork {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
